@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Mulish';
    font-style: normal;
    src: local('Mulish'), url(@/assets/Mulish-VariableFont_wght.ttf) format('truetype');
}

@font-face {
    font-family: 'Forum';
    font-style: normal;
    src: local('Forum'), url(@/assets/Forum-Regular.ttf) format('truetype');
}

* {
    font-family: "Mulish", sans-serif;
}